body {

    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Mark Pro', sans-serif;
}

main {
    margin-top: 80px;
}
#backgroundInsert1 {
    background: url('./assets/background1.jpg') bottom;
    background-size: cover;
    overflow: hidden;
}

.download-application-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 47px;
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(5, 9, 28, 0.5) 100%
    ),
    rgba(6, 11, 67, 0.5);
    backdrop-filter: blur(8px);
    margin: 10% 50% 0 15%;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: calc(50% - 20px);
    transition: transform 0.3s ease,
    box-shadow 0.3s ease;
    border: 1px solid #e1e1e8;
}

.download-title {
    color: white;
    font-size: 90px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
}

.download-description {
    color: #fff !important;
    font-family: 'Mark Pro', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ios-android-container {
    display: flex;
    align-items: flex-end;
    gap: 32px;
}


.ios {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid #363bfc;
    background: rgba(6, 11, 67, 0.31);
}

.android {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid #363bfc;
    background: rgba(6, 11, 67, 0.31);
}

.download-container {
    display: flex;
    width: 266px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.download {
    width: 255.5px;
    height: 38px;
    left: 5px;
    top: 5px;
}

.feedback-text {
    width: 80%;
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: center;
}

.feedback-title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 75px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background: #05091c;
    margin: 0;
    padding-top: 15px;
}

/*
classique
.feedback-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}
*/

/*
Vertical
.feedback-list {
    display: flex;
    flex-wrap: wrap; !* Plus explicite - assure que les items ne wrap pas *!
    overflow-x: auto; !* Gardez pour le défilement horizontal *!
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding-bottom: 20px; !* Peut-être moins pertinent avec le scroll horizontal *!
    max-height: calc(2 * (136px + 20px) + 20px); !*SUPPRIMEZ ou adaptez selon votre besoin *!
    max-width: calc(2 * (268px + 20px) + 20px);
}*/
@property --w_raw {
    syntax: '<length>';
    inherits: true;
    initial-value: 100vw;
}

@property --h_raw {
    syntax: '<length>';
    inherits: true;
    initial-value: 100vh;
}

:root {
    --w: tan(atan2(var(--w_raw), 1px));
    --h: tan(atan2(var(--h_raw), 1px));
}

/*
Horizontal ok
.feedback-list {
    display: flex;
    flex-wrap: nowrap; !* Plus explicite - assure que les items ne wrap pas *!
    overflow-x: auto; !* Gardez pour le défilement horizontal *! !* Pour enlever la barre, mettre en hidden*!
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding-bottom: 20px; !* Peut-être moins pertinent avec le scroll horizontal *!
    !*max-width: calc(2 * (268px + 20px) + 20px);*!
    max-width: calc(var(--w_raw) - 17px);

.feedback-list::-webkit-scrollbar {  Style optionnel pour la scrollbar (navigateurs Webkit)
height: 8px;  Hauteur de la scrollbar
}

}*/

.feedback-list {
    display: flex;
    flex-wrap: nowrap; /* Plus explicite - assure que les items ne wrap pas */
    overflow-x: hidden; /* Gardez pour le défilement horizontal */
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding-bottom: 20px; /* Peut-être moins pertinent avec le scroll horizontal */
    /*max-width: calc(2 * (268px + 20px) + 20px);*/
    max-width: calc(var(--w_raw) - 17px);
    scroll-behavior: smooth;
}

.feedback-list::-webkit-scrollbar { /* Style optionnel pour la scrollbar (navigateurs Webkit) */
    /*display: none;*/ /* Cache complètement la scrollbar pour Webkit */
    height: 4px;
}

.feedback-list::-webkit-scrollbar-thumb { /* Style optionnel pour le "thumb" de la scrollbar (la partie que l'on déplace) */
    background-color: #ccc; /* Couleur du "thumb" */
    border-radius: 4px; /* Bords arrondis */
}

.feedback-list::-webkit-scrollbar-track { /* Style optionnel pour le "track" de la scrollbar (la partie fixe) */
    background-color: #05091c; /* Couleur du "track" */
    border-radius: 4px; /* Bords arrondis */
}

.feedback {
    flex: 0 0 auto; /* Empêche les cartes de grandir ou rétrécir et laisse la largeur automatique */
    width: 300px; /* Définissez une largeur fixe pour chaque carte (ajustez selon vos besoins) */
    scroll-snap-align: start; /* Aligne le début de chaque carte au point de "snap" lors du défilement */
    border: 1px solid #ddd; /* Exemple de bordure pour visualiser les cartes */
    padding: 15px; /* Espacement intérieur pour le contenu de la carte */
    box-sizing: border-box; /* Assure que le padding et la bordure sont inclus dans la largeur */
    border-radius: 8px;
}

#backgroundInsert2 {
    background: #05091c;
}

#iphoneIntegration {
    width: 20%;
    object-fit: scale-down;
}

.iphone-container {
    display: flex;
    justify-content: center;
}

#text {
    width: 30%;
}

.line {
    display: contents;
    justify-content: space-between;
}

.left {
    display: contents;
}

.leaderboard-container {
    width: 80%;
    padding: 20px 10% 20px 10%;
    border-radius: 12px;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

.leaderboard-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.leaderboard-subtitle {
    font-size: 1rem;
    color: #cfcfcf;
    margin-bottom: 20px;
}

.leaderboard {
    background: #05091c;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leaderboard-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181835;
    padding: 10px 15px;
    border-radius: 8px;
}

.rank {
    font-size: 1.2rem;
    font-weight: bold;
    color: #62dafb;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.name {
    flex-grow: 1;
    text-align: left;
    font-size: 1rem;
}

.score {
    font-size: 1.2rem;
    color: #62dafb;
}

.faq-title {
    display: flex;
    justify-content: center;
}

.faq-text {
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: 0 10% 0 10%;
}

.faq-list {
    width: 80%;
    padding: 20px 10% 20px 10%;
}

.faq-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0 10px 0;

}
.faq-question {
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background-color: #1a224a;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-question:hover {
    background-color: #222d5c;
}
.faq-question:hover + .faq-reponse {
    display: block;
}
.faq-reponse {
    display: none;
    padding: 10px;
    background-color: #1e2b5a;
    margin-top: 5px;
    border-radius: 5px;
}

