body {

    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Mark Pro', sans-serif;
}

main {
    margin-top: 80px;
}



.footer-spacer {
  height: 150px; /* Ajustez cette valeur selon la hauteur de votre footer */
  width: 100%;
  display: block;
  content: "";
  clear: both;
}
