.confidentialite {
    background: #05091c;
    background-size: cover;
    overflow: hidden;
    padding-top: 10vh;
    padding: 20px;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 45px;
    }
}